<h3>Budget Entries:</h3>
<style>
    body {
        font-family: Georgia, "Times New Roman", Times, serif;    
        color: black;
        background-color: #DCDCDC
        }
</style>
<table dir="ltr" width="500" border="1" 
			summary="purpose/structure for speech output">
	<colgroup width="50%" />
	<colgroup id="colgroup" class="colgroup" align="center" 
			valign="middle" title="title" width="1*" 
			span="2" style="background:#ddd;" />
	<thead>
		<tr>
			<th scope="col">Category</th>
			<th scope="col">Description</th>
			<th scope="col">Amount</th>
          <th scope="col">Date</th>
		</tr>
	</thead>
{% if all_budget %}
    {%for budget in all_budget%}
    	<tbody>
    		<tr>
    			<td><li><a href = "{% url 'Budget:detail' budget.id %}">{{ budget.category}}</a></li></td>
    			<td>{{ budget.description}}</td>
           	<td>$ {{ budget.amount}}</td>
            	<td>{{ budget.date}}</td>
    		</tr>
    	</tbody>
    {% endfor %} 
{% else %}
    <h3>No Budget Items Submitted Yet</h3>
{% endif %}
</table>